@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Reservation
<br />
<br />

<h3>Helo @Model.Customer.CustomerName</h3>
<h4>Please Enter the Reservation details.</h4>

@using (Html.BeginForm("Create","Reservation", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model=>model.RoomCount) 
        @Html.TextBoxFor(model => model.RoomCount,new{@class = "form-control"})
        @Html.ValidationMessageFor(model => model.RoomCount)
    </div>

    <div class="form-group">
        @Html.LabelFor(model=>model.CheckInDate)
        @Html.TextBoxFor(model => model.CheckInDate,new{@class = "form-control", type="date"})
        @Html.ValidationMessageFor(model => model.CheckInDate, "", new{@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model=>model.CheckOutDate)
        @Html.TextBoxFor(model => model.CheckOutDate,new{@class = "form-control", type="date"})
        @Html.ValidationMessageFor(model => model.CheckOutDate, "", new{@class = "text-danger"})
    </div>
    @Html.HiddenFor(model=>model.RoomTypeId)
    @Html.HiddenFor(model=>model.CustomerId)
    
    <button type = "submit" class="btn btn-primary"> Reserve </button>
}

<a asp-controller="Hotel" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>


