@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Reservation
<h2>Edit Reservation </h2>
@using (Html.BeginForm("Edit", "Reservation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model=>model.RoomCount)
        @Html.TextBoxFor(model => model.RoomCount,new{@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model=>model.CheckInDate)
        @Html.TextBoxFor(model => model.CheckInDate,new{@class = "form-control", type="date"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model=>model.CheckOutDate)
        @Html.TextBoxFor(model => model.CheckOutDate,new{@class = "form-control", type="date"})
    </div>
    @Html.HiddenFor(model=>model.RoomTypeId)
    @Html.HiddenFor(model=>model.CustomerId)
   
    <input type="hidden" name="id" value="@Model.Id"/>

    <button type="submit" class="btn btn-primary"> Reserve </button>
}

<a asp-controller="Reservation" asp-action="ViewReservation" class="btn btn-secondary" style="width:150px">Back</a>

